<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939630801167-e7fiv8dsi7kk4q1qc0s8v6m1khl3n0lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939630801167-e7fiv8dsi7kk4q1qc0s8v6m1khl3n0lo</string>
	<key>API_KEY</key>
	<string>AIzaSyCze9B_FWTlYcK3G56ro7paQPVYSMb3INI</string>
	<key>GCM_SENDER_ID</key>
	<string>939630801167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.pdm.lab</string>
	<key>PROJECT_ID</key>
	<string>shiftapp-87aff</string>
	<key>STORAGE_BUCKET</key>
	<string>shiftapp-87aff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939630801167:ios:56ec727bcdbad90fc14e7a</string>
</dict>
</plist>